.active {
    background-color: #2E8B57;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    color: #fff;
    /*position: sticky;*/
    top: 0;
}

nav img {
    width: 100px;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    text-transform: uppercase;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #080808;
    background: #fff;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    justify-content: center;
}

nav ul li a:not(.active):hover {
    background-color: #080808;
    color: #fff;
}

nav .hamburger {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .hamburger span {
    height: 0.4rem;
    width: 100%;
    background-color: #080808;
    border-radius: 0.2rem;
}

@media (max-width: 760px) {
    nav .hamburger {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 85%;
        margin-bottom: 1rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.25rem 1.5rem;
        border-color: #080808;
    }

    nav ul li a:not(.active):hover {
        background-color: #080808;
        color: #fff;
    }

}

@media (max-width: 480px) {
    nav .hamburger {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 80%;
        margin-bottom: 1rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.25rem 1.5rem;
        border-color: #080808;
    }

    nav ul li a:not(.active):hover {
        background-color: #080808;
        color: #fff;
    }
}