@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:wght@800&display=swap');

* {
  font-family: 'Roboto';
}
.navbar {
    background-color: #fefefe;
    height: 100%;
    width: 100%;
  }